.signin-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f3f3f4;

  .signin-box {
    position: relative;
    width: 1100px;
    height: 55vh;
    background: #fff;
    border-radius: 16px;

    .moving-form {
      display: flex;
      // justify-content: center;
      align-items: center;
      width: 500px;
      height: 100%;
      padding: 0 54px;
      transform: translateX(480px);

      &.moving-form-active {
        animation: movingForm 0.6s linear forwards;
      }

      &.starting-form-active {
        animation: startingForm 0.6s linear forwards;
      }
    }

    .moving-box {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 100%;
      background: #B983FF;
      // opacity: 0.7;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      &.moving {
        animation: moving 0.6s linear forwards;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.starting {
        animation: starting 0.6s linear forwards;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .signup-link-btn {
        outline: none;
        border: 1px solid #fff;
        padding: 13px 32px;
        background: none;
        border-radius: 25px;
        margin-top: 160px;
        color: #fff;
        cursor: pointer;

        &:active {
          transform: scale(0.9);
        }
      }
    }

    .text-area {
      position: absolute;
      left: 110px;
      top: 193px;

      &.login-text {
        left: initial;
        right: 110px;
      }
      &.signup-text {
        left: 110px;
        right: initial;
      }

      &.starting-text {
        animation: startingText 0.4s linear backwards;
      }
      &.moving-text {
        animation: movingText 0.4s linear backwards;
      }

      .signin-title {
        font-family: "Roboto";
        font-size: 32px;
        font-weight: 900;
        color: #fff;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 32px;
      }

      .signin-description {
        font-family: "NanumSquare";
        color: #fff;
        margin-bottom: 48px;
      }
    }
  }
}

@keyframes moving {
  0% {
    width: 500px;
    transform: translateX(0px);
  }
  50% {
    width: 650px;
    transform: translateX(200px);
  }
  100% {
    width: 500px;
    transform: translateX(600px);
  }
}

@keyframes starting {
  0% {
    width: 500px;
    transform: translateX(600px);
  }
  50% {
    width: 650px;
    transform: translateX(200px);
  }
  100% {
    width: 500px;
    transform: translateX(0px);
  }
}

@keyframes movingForm {
  0% {
    // width: 500px;
    transform: translateX(600px);
  }
  50% {
    // width: 650px;
    transform: translateX(200px);
  }
  100% {
    // width: 500px;
    transform: translateX(-20px);
  }
}

@keyframes startingForm {
  0% {
    // width: 500px;
    transform: translateX(0px);
  }
  50% {
    // width: 650px;
    transform: translateX(200px);
  }
  100% {
    // width: 500px;
    transform: translateX(480px);
  }
}

@keyframes startingText {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(50px);
  }
}

@keyframes movingText {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-50px);
  }
}
