.post-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding-bottom: 32px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
  }
}

.left-info {

  .post-category {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #B983FF;
    margin-bottom: 16px;
  }
  .post-title {
    font-size: 24px;
    font-weight: bold;
  }
  .post-subtitle {
    color: #474E68;
    margin-top: 16px;
  }
}

.right-info {
  display: flex;
  flex-direction: column;

  span {
    display: inline-block;
    text-align: center;
    color: #474E68;
    margin-bottom: 10px;
  }
}

