.post-detail-container {
  font-family: "NanumSquare";
  font-weight: 500;
}

.post-header {

  .detail-category {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #B983FF;
    margin-bottom: 16px;
  }
  .detail-title {
    font-size: 24px;
    font-weight: 900;
  }
  .detail-subtitle {
    color: #474E68;
    margin-top: 16px;
  }
  .hashtags-container {
    display: flex;
    align-items: center;
    margin-top: 28px;

    li {
      color: #6B728E;
      padding: 5px 8px;
      border: 1px solid #e2e2e2;
      border-radius: 5px;
      margin-right: 20px;
    }
  }
}